@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
  src: local('☺'), url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), 
        url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'), 
        url('../fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot');
  src: local('☺'), url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'), 
        url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype'), 
        url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
  src: local('☺'), url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'), 
        url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'), 
        url('../fonts/Montserrat-Bold/Montserrat-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot');
  src: local('☺'), url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff') format('woff'), 
        url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf') format('truetype'), 
        url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro-Bold/GothamPro-Bold.eot');
  src: local('☺'), 
        url('../fonts/GothamPro-Bold/GothamPro-Bold.woff') format('woff'), 
        url('../fonts/GothamPro-Bold/GothamPro-Bold.ttf') format('truetype'), 
        url('../fonts/GothamPro-Bold/GothamPro-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamPro.eot');
  src: local('☺'), 
      url('../fonts/GothamPro/GothamPro.woff') format('woff'), 
      url('../fonts/GothamPro/GothamPro.ttf') format('truetype'), 
      url('../fonts/GothamPro/GothamPro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

